*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}



    .headcontent {
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 50px; 
        height: 100vh;
        background-color: #172937;
        text-align: center;
        height: 250px;
     
    }
    
    
    
    @media (max-width: 768px) {
        .headcontent {
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
    
        #profile img {
            width: 200px;
            height: 200px;
        }
    }
    

.container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav{
    padding: 2px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #172937;
    color: aliceblue;

}
.navcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;  
}


.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px 20px;
    /* margin: 2px; */
    /* color: antiquewhite;
    text-decoration: none; */
    
}
#resume{
    border: 1px solid #F37021;
    padding: 2px;
    cursor: pointer;
}
.navlinks li a{
    color: antiquewhite;
    text-decoration: none;
}

.skillbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 30px;
    max-width: 80%; 
    margin: auto;
    border: 1px solid gainsboro;
    margin-bottom: 7px;
}
#skills h2{
    margin-top: 8px;
}
.skillitems {
    border: 2px solid #F37021;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #FFF5EE; 
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skillitems img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

#profile img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
    border: 3px solid black;
}

.progresscontent {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progresscontent h2 {
    margin-top: 10px;
    color: #172937;
}

.progresscontent h4 {
    color: #555;
    margin-bottom: 20px;
}

.progresscontent button {
    background-color: #f37021;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.progresscontent button:hover {
    background-color: #d85c1b;
}

.progressimgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progressbox {
    width: 250px;
    border: 2px solid #f37021;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    text-align: center;
  
}

.progressbox img {
    width: 100%;
    max-height: 180px;
    border-radius: 8px;
    margin-bottom: 10px;
}
                   
.progressbox:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* for only imgs so that if width reduce they align as col */
@media (max-width: 768px) {
    .progressimgs {
        flex-direction: column;
        align-items: center;
    }

    .progressbox {
        width: 90%;
        color: dark black;
        /* text-decoration-thickness: bold; */
    }
}

.projectcontent h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectcontent h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.projectboxes {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   gap: 40px;
   margin-bottom: 40px;
 
}

.projectbox {
    background: white;
    border: 2px solid gray;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    
}

.projectbox img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    
}

.projectbox h3 {
    margin-top: 15px;
   
}

@media (max-width: 768px) {
    .projectboxs {
        /* flex-direction: column; */
        align-items: center;
    }

    .projectbox {
        width: 90%;
        height: auto;
        flex-direction: column;
    }
}

.educontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.educontent h2 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}


.edubox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.edu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid grey;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.edu h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.edu time {
    font-weight: bold;
    margin-bottom: 5px;
}
.edu img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .edubox {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        
    }
}

.contact-section {
    background-color: #172937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactcontent {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}


.contactcontent h4 {
    margin-top: 10px;
    color: #FFF5EE;

}

.contactlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #F37021;
    width: 150px;
}
.links a{
    text-decoration: none;
    color: #FFF5EE;
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-icon {
    height: 50px;
    width: 50px;
    padding: 5px;
    object-fit: contain;
  
}

@media (max-width: 768px) {
    .contactlinks {
        flex-direction: column;
        align-items: center;
    }
}
